div.container-fluid.text-center style="background: url(/image/iot.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 25%;
  padding-bottom: 0%;
  height: 100vh;
  overflow:scroll;
  "
  a.h1.text-shadow1 href="/"
    |LoRaWAN Management System
  h3.text-shadow3
    |Start to manage your LoRaWAN gateways and nodes properly!
  a.btn.btn-primary.btn-lg.box-shadow1 href="#search" role="button" style="margin-top:5px;" action="/nodes"
    |Get Started
  a.btn.btn-primary.btn-lg.box-shadow1 href="https://drive.google.com/file/d/0B7UkDModtj-UMDE4SHk4X0NsakU/view?usp=sharing" style="margin-left:20px;margin-top:5px;"
    |Tutorial
